{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 mt-5">
    <h4>{{ 'update'|trans }} {{ car.name }}</h4>

    {{ form_start(carForm)}}
        {{ form_row(carForm.name) }}
        {{ form_row(carForm.licensePlate)}}
        {{ form_row(carForm.mileage) }}
        {{ form_row(carForm.milageUnit) }}
        {{ form_row(carForm.make) }}
        {{ form_row(carForm.vendor) }}
        <div class="row">
            <div class="col-sm-9">
            {{ form_row(carForm.picture) }}
            </div>
             <div class="col-sm-3">
            {% if carForm.vars.data.profilePicturePath|default %}
                <img class="rounded-circle" src="{{ asset('/uploads/cars/' ~ carForm.vars.data.profilePicturePath)|imagine_filter('profile_thumb') }}" height="100" width="100">
            {% endif %}
            </div>
        </div>

        <div class="d-flex gap-2 my-3">
            <button type="submit" class="btn btn-outline-dark">{{ 'car.update'|trans }}</button>
            {% if isAdmin %}
            <a href="{{ path('app_car_delete_confirm') }}" class="btn btn-outline-danger">{{ 'car.delete.button'|trans }}</a>
            {% endif %}
        </div>
    {{ form_end(carForm) }}
</div>
{% endblock %}