{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 mt-5">
    <h4>{{ 'car.add'|trans }}</h4>

    {{ form_start(carForm)}}
        {{ form_widget(carForm) }}

        <button type="submit" class="btn btn-outline-dark my-3">{{ 'car.create'|trans }}</button>
    {{ form_end(carForm) }}
</div>
{% endblock %}