{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-12 col-md-8">
    <div class="container">
        <div class="row">
            <div class="col"><h4>{{ 'car.data'|trans }}</h4></div>
        </div>
         <div class="row">
            <div class="col">{{ 'car.form.licenseplate'|trans}}: {{ car.licensePlate}}</div>
            <div class="col">{{ 'car.form.vendor'|trans}}: {{ car.vendor }}</div>
            <div class="col">{{ 'car.form.make'|trans}}: {{ car.make }}</div>
        </div>
        <div class="row">
            <div class="col">{{ 'car.mileage'|trans}}: {{ car.mileage}} {{ car.milageUnit }}</div>
            <div class="col">{{ 'car.season.mileage'|trans}} {{ "now"|date("Y") }}: {{ distanceTravelled }} {{ car.milageUnit }}</div>
            <div class="col">{{ 'car.season.spent'|trans}} {{ "now"|date("Y") }}: {{ moneySpent }} € ({{ 'car.season.fuel'|trans }} {{ moneySpentFuel }} €) </div>
        </div>
        <div class="row pt-5">
            <div class="col"><h4>{{ 'car.bookings.next'|trans }}</h4></div>
        </div>
        <div class="row">
            <div class="col">
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">{{ 'date.start'|trans }}</th>
                    <th scope="col">{{ 'date.end'|trans }}</th>
                    <th scope="col">{{ 'user.user'|trans }}</th>
                    <th scope="col">{{ 'booking.form.title'|trans }}</th>
                    <th scope="col">{{ 'booking.form.status'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}  
                <tr>
                    <td>{{ booking.getStartDate()|date("d.m.Y") }}</td>
                    <td>{{ booking.getEndDate()|date("d.m.Y") }}</td>
                    <td>{{ booking.getUser().getName() }}</td>
                    <td>{{ booking.getTitle() }}</td>
                    <td>{{ booking.getStatus()|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col"><h4>{{ 'car.statistics'|trans }}</h4></div>
        </div>
        <div class="row">
            <div class="col chart">
                {{ render_chart(distanceChart) }}
            </div>
             <div class="col chart">
                {{ render_chart(balanceChart) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}