{% use 'bootstrap_4_layout.html.twig' %}

{% block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-select')|trim}) -%}
    {{- parent() -}}
{%- endblock choice_widget_collapsed %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="invalid-feedback d-block">
            {%- for error in errors -%}
                <div><i class="fa-solid fa-circle-exclamation me-1"></i>{{ error.message }}</div>
            {%- endfor -%}
        </div>
    {%- endif %}
{%- endblock form_errors %}

{% block form_label_errors %}{% endblock form_label_errors %}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = "fieldset" -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {"aria-describedby": id ~ "_help"}} -%}
    {%- endif -%}
    <{{ element|default("div") }}{% with {attr: row_attr|merge({class: (row_attr.class|default("") ~ " form-group")|trim})} %}{{ block("attributes") }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
        {%- if "checkbox" not in block_prefixes and "radio" not in block_prefixes -%}
            {{- form_errors(form) -}}
        {%- endif -%}
    </{{ element|default("div") }}>
{%- endblock form_row %}

{% block form_label -%}
    {% if label is not same as(false) %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) %}
        {% if not required %}
            {% set label = (label|default(name|humanize)|trans(label_translation_parameters, translation_domain)) ~ ' <span class="text-muted fw-normal small">(' ~ 'form.optional'|trans ~ ')</span>' %}
            <label{% with {attr: label_attr} %}{{ block('attributes') }}{% endwith %}>{{ label|raw }}</label>
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endif %}
{%- endblock %}
