{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 mt-5">
    <h4>{{ 'user.profile.edit'| trans }}</h4>

    {{ form_start(userForm)}}
        {{ form_row(userForm.email) }}
        {% if is_granted('ROLE_ADMIN') %}
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-triangle-exclamation"></i>
            {{ 'user.profile.email_admin_warning'|trans }}
        </div>
        {% endif %}
        {{ form_row(userForm.name) }}
        {{ form_row(userForm.locale) }}
        <div class="row">
            <div class="col-sm-3">
            {{ form_row(userForm.color) }}
            </div>
            <div class="col-sm-9">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9">
            {{ form_row(userForm.picture) }}
            </div>
             <div class="col-sm-3">
            {% if userForm.vars.data.profilePicturePath|default %}
                <img class="rounded-circle" src="{{ asset('/uploads/users/' ~ userForm.vars.data.profilePicturePath)|imagine_filter('profile_thumb') }}" height="100" width="100">
            {% endif %}
            </div>
        </div>

        {{ form_row(userForm.notifiedOnEvents) }}
        {{ form_row(userForm.notifiedOnOwnEvents) }}

        <div class="d-flex gap-2 my-3">
            <button type="submit" class="btn btn-outline-dark">{{ 'user.profile.update'|trans }}</button>
            <a href="{{ path('app_user_delete_account_confirm') }}" class="btn btn-outline-danger">{{ 'user.delete.button'|trans }}</a>
        </div>
    {{ form_end(userForm) }}
</div>
{% endblock %}