{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 col-md-4">
    <h4>{{ 'invitation.for'|trans }} {{ car.name }}</h4>

    {{ form_start(invitationForm)}}
        {{ form_widget(invitationForm) }}

        <button type="submit" class="btn btn-outline-dark my-3">{{ 'invitation.invite'|trans }}</button>
    {{ form_end(invitationForm) }}
</div>
{% endblock %}