{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-12 mt-5">
    <h4>{{ 'user.of'|trans }} {{ car.name }}</h4>
    <div>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th></th>
                        <th class="text-center">{{ 'user.user'|trans }}</th>
                        <th class="text-center">{{ 'email'|trans }}</th>
                        <th class="text-center">{{ 'user.calendar.color'|trans }}</th>
                        <th class="text-center">{{ car.milageUnit }} {{ 'user.driven'|trans }}</th>
                        <th class="text-center">{{ 'money.spent'|trans }}</th>
                        <th class="text-center">{{ 'money.balance'|trans }}</th>
                        <th class="text-center">{{ 'user.status'|trans }}</th>
                        <th class="text-center">{{ 'actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                            {% if user.profilePicturePath|default %}
                                <img class="rounded-circle" src="{{ asset('/uploads/users/' ~ user.profilePicturePath)|imagine_filter('profile_thumb') }}" height="50" width="50">
                            {% else %}
                                <img class="rounded-circle" src="{{ asset('/build/static/default-user.png')|imagine_filter('profile_thumb') }}" height="50" width="50">
                            {% endif %}
                            </td>
                            <td class="align-middle text-center">{{ user.name }}</td>
                            <td class="align-middle text-center">{{ user.email }}</td>
                            <td class="align-middle text-center"><i class="fas fa-circle" style="color: {{ user.color }}"></i></td>
                            <td class="align-middle text-center">{{ user.tripMileage|number_format(0, ',', '.') }}</td>
                            <td class="align-middle text-center">{{ user.moneySpent|format_currency('EUR', locale='de') }}
                            <td class="align-middle text-center">{{ user.balance|format_currency('EUR', locale='de') }}</td>
                            <td class="align-middle text-center">
                            {% if user.isActive() %}
                                {{ 'user.active'|trans }}
                            {% else %}
                                {{ 'user.inactive'|trans }}
                            {% endif%}
                            </td>
                            <td class="align-middle text-center">
                            {% if user.isActive() and user.id != app.user.id %}
                                <a href='{{ path('app_user_delete', {user: user.id}) }}'><i class="fas fa-trash text-danger"></i></a>
                            {% endif %}
                            </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix">
        <button type="link" class="btn btn-outline-dark my-3 float-end" onclick="location.href='{{ path('app_user_invite') }}';">{{ 'invitation.invite'|trans }} <span class="fa fa-plus-circle"></span></button>
    </div>
    {% if invitations|length >0 %}
    <div>
        <h5>{{ 'invitation.pending'|trans }}</h5>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th class="text-center">{{ 'date.date'|trans }}</th>
                        <th class="text-center">{{ 'email'|trans }}</th>
                        <th class="text-center">{{ 'user.type'|trans }}</th>
                        <th class="text-center">{{ 'invitation.status'|trans }}</th>
                        <th class="text-center">{{ 'invitation.invited.by'|trans }}</th>
                        <th class="text-center">{{ 'actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invitation in invitations %}
                        <tr>
                            <td class="align-middle text-center">{{ invitation.createdAt|date('d.m.Y') }}</td>
                            <td class="align-middle text-center">{{ invitation.email }}</td>
                            <td class="align-middle text-center">{{ invitation.userType }}</td>
                            <td class="align-middle text-center">{{ invitation.status }}
                            <td class="align-middle text-center">{{ invitation.createdBy.name }}</td>
                            <td class="align-middle text-center">
                            {% if app.user.email == invitation.createdBy.email %}
                                <a href='{{ path('app_invite_delete', {invite: invitation.id}) }}'><i class="fas fa-trash text-danger"></i></a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <div>
        <h5>{{ 'user.groups'|trans }}</h5>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th class="text-center">{{ 'name'|trans }}</th>
                        <th class="text-center">{{ 'price.per'|trans }} {{ car.milageUnit }}</th>
                        <th class="align-middle text-center">{{ 'members'|trans }}</th>
                        <th class="text-center">{{ 'actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usergroup in usergroups %}
                        <tr>
                            <td class="align-middle text-center">{{ usergroup.name }}</td>
                            <td class="align-middle text-center">{{ usergroup.pricePerUnit|format_currency('EUR', locale='de') }}</td>
                            <td class="align-middle text-center">{% for member in usergroup.users %}
                                    {{ member.name }} {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="align-middle text-center">
                            <a href='{{ path('app_usergroup_edit', {usergroup: usergroup.id}) }}'><i class="fas fa-edit"></i></a>
                            {% if usergroup.users|length == 0 %}
                                <a href='{{ path('app_usergroup_delete', {usergroup: usergroup.id}) }}'><i class="fas fa-trash text-danger"></i></a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <button type="link" class="btn btn-outline-dark my-3 float-end" onclick="location.href='{{ path('app_usergroup_new') }}';">{{ 'user.group.new'|trans }} <span class="fa fa-plus-circle"></span></button>
        </div>
    </div>
</div>
{% endblock %}