{% extends 'admin/base.html.twig' %}

{% block content_body %}
<div class="col-xl-12 col-md-8">
    <h4>Users of {{ car.name }}</h4>
    <div>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Calendar color</th>
                        <th class="text-center">{{ car.milageUnit }} driven</th>
                        <th class="text-center">Money spent</th>
                        <th class="text-center">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="text-center">{{ user.name }}</td>
                            <td class="text-center">{{ user.email }}</td>
                            <td class="text-center"><i class="fas fa-circle" style="color: {{ user.color }}"></i></td>
                            <td class="text-center">{{ user.tripMileage|number_format(0, ',', '.') }}</td>
                            <td class="text-center">{{ user.moneySpent|format_currency('EUR', locale='de') }}
                            <td class="text-center">{{ user.balance|format_currency('EUR', locale='de') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix">
        <button type="link" class="btn btn-outline-dark my-3 float-end" onclick="location.href='{{ path('app_user_invite') }}';">Invite User <span class="fa fa-plus-circle"></span></button>
    </div>
    <div>
        <h5>Pending invites</h5>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th class="text-center">Date</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Invited by</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invitation in invitations %}
                        <tr>
                            <td class="text-center">{{ invitation.createdAt|date('d.m.Y') }}</td>
                            <td class="text-center">{{ invitation.email }}</td>
                            <td class="text-center">{{ invitation.userType }}</td>
                            <td class="text-center">{{ invitation.status }}
                            <td class="text-center">{{ invitation.createdBy.name }}</td>
                            <td class="text-center">delete, renew</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <h5>Usergroups</h5>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Price per {{ car.milageUnit }}</th>
                        <td class="text-center">Members</td>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usergroup in usergroups %}
                        <tr>
                            <td class="text-center">{{ usergroup.name }}</td>
                            <td class="text-center">{{ usergroup.pricePerUnit|format_currency('EUR', locale='de') }}</td>
                            <td class="text-center">{% for member in usergroup.users %}
                                    {{ member.name }} {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center">
                            <a href='{{ path('app_usergroup_edit', {usergroup: usergroup.id}) }}'><i class="fas fa-edit"></i></a>
                            {% if usergroup.users|length == 0 %}
                                <a href='{{ path('app_usergroup_delete', {usergroup: usergroup.id}) }}'><i class="fas fa-trash text-danger"></i></a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <button type="link" class="btn btn-outline-dark my-3 float-end" onclick="location.href='{{ path('app_usergroup_new') }}';">Add Usergroup <span class="fa fa-plus-circle"></span></button>
        </div>
    </div>
</div>
{% endblock %}