{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 col-md-4">
    <h4>{{ 'log.in'|trans }}!</h4>
   
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                {{ 'user.looged.in.as'|trans }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'user.logout'|trans }}</a>
            </div>
        {% endif %}
        <form method="post">
        <label for="inputEmail">{{ 'email'|trans }}</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">{{ 'password'|trans }}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> {{ 'remember.me'|trans }}
            </label>
        </div>


        <button class="btn btn-lg btn-outline-dark my-3" type="submit">
            {{ 'log.in'|trans }}
        </button>
    </form>
</div>
{% endblock %}
