{% extends 'blank.html.twig' %}

{% block title %}{{ 'log.forgot_password'|trans }}{% endblock %}

{% block body %}
<section class="auth-shell vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">

            {% include 'auth/_header.html.twig' %}
            <h1 class="h4 mb-3">{{ 'registration.check_email.title'|trans }}</h1>

            <p class="mb-1">
                {{ 'reset_password.check_email.info'|trans({
                    '%expiration%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')
                }) }}
            </p>
            <p class="text-muted small mb-3">{{ 'registration.check_email.spam_hint'|trans }}</p>

            <a href="{{ path('app_forgot_password_request') }}" class="btn btn-dark btn-lg btn-block w-100 mb-3">{{ 'reset_password.check_email.try_again'|trans }}</a>

            <div class="auth-links text-center">
              <a href="{{ path('app_login') }}" class="small">{{ 'registration.check_email.login_link'|trans }}</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
