{% extends 'blank.html.twig' %}

{% block title %}{{ 'log.forgot_password'|trans }}{% endblock %}

{% block body %}
<section class="vh-100" style="background-color: #ddd;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">

            {% include 'auth/_header.html.twig' %}
            <h4 class="mb-3">{{ 'registration.check_email.title'|trans }}</h4>

            <p class="mb-1">
                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p class="text-muted small mb-3">{{ 'registration.check_email.spam_hint'|trans }}</p>

            <a href="{{ path('app_forgot_password_request') }}" class="btn btn-dark btn-lg btn-block w-100 mb-3">Try again</a>

            <a href="{{ path('app_login') }}" class="text-muted small">{{ 'registration.check_email.login_link'|trans }}</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
