<h1>{{ 'reset_password.email.greeting'|trans }}</h1>

<p>{{ 'reset_password.email.intro'|trans }}</p>

<a href="{{ resetPasswordUrl }}">{{ resetPasswordUrl }}</a>

<p>{{ 'reset_password.email.expiry'|trans({
    '%expiration%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')
}) }}</p>

<p>{{ 'reset_password.email.outro'|trans }}</p>
