{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-8 mt-5">
    <div class="d-flex align-items-center justify-content-between mb-3 page-header">
        <h4 class="mb-0">{{ 'booking.calendar'| trans }}</h4>
        <button type="button" class="btn btn-outline-dark"
            onclick="location.href='{{ path('app_booking_new') }}';">{{ 'booking.new'|trans }} <span
                class="fa fa-plus-circle"></span></button>
    </div>
    <div>
        <div id="calendar-holder" data-events-url="{{ path('fc_load_events') }}"></div>
    </div>
</div>
{% endblock %}


{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{% block importmap %}{{ importmap(['app', 'calendar']) }}{% endblock %}
{% endblock %}