{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-8 mt-5">
    <h4>{{ 'booking.calendar'| trans }} {{ car.name }}</h4>
    <div>
        <div id="calendar-holder" data-events-url="{{ path('fc_load_events') }}"></div>
    </div>
    <div class="clearfix">
        <button type="link" class="btn btn-outline-dark my-3 float-end"
            onclick="location.href='{{ path('app_booking_new') }}';">{{ 'booking.new'|trans }} <span
                class="fa fa-plus-circle"></span></button>
    </div>
</div>
{% endblock %}


{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{% block importmap %}{{ importmap(['app', 'calendar']) }}{% endblock %}
{% endblock %}