{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 mt-5">
    <h4>{{ 'payments.edit.for'|trans }}</h4>

    {{ form_start(paymentForm, { attr: { id: paymentForm.vars.id } }) }}
        {{ form_widget(paymentForm) }}
    {{ form_end(paymentForm, {'render_rest': false}) }}

    <div class="d-flex flex-wrap gap-2 align-items-center mt-3">
        <button type="submit" form="{{ paymentForm.vars.id }}" class="btn btn-outline-dark">{{ 'payments.edit.update'|trans }}</button>
        <form method="post" action="{{ path('app_payment_delete', {payment: payment.id}) }}" class="d-inline">
            <input type="hidden" name="_token" value="{{ csrf_token('payment_delete_' ~ payment.id) }}">
            <button type="submit" class="btn btn-outline-danger">{{ 'payments.delete'|trans }} <i class="fas fa-trash text-danger"></i></button>
        </form>
    </div>
</div>
{% endblock %}
