{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-12 col-md-8 mt-5">
    <h4>{{ 'payments.for'|trans }} {{ car.name }}</h4>
    <div class="table-responsive">
        <table class="table">
            <thead class="table-secondary">
                <tr>
                    <th class="text-center">{{ 'date.date'|trans }}</th>
                    <th class="text-center">{{ 'from'|trans }}</th>
                    <th class="text-center">{{ 'to'|trans }}</th>
                    <th class="text-center">{{ 'amount'|trans }}</th>
                    <th class="text-center">{{ 'payments.type'|trans }}</th>
                    <th class="text-center">{{ 'comment'|trans }}</th>
                    <th class="text-center">{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in pager %}
                    <tr>
                        <td class="text-center">{{ payment.date|date('d.m.Y') }}</td>
                        <td class="text-center">{{ payment.fromUser.name }}</td>
                        <td class="text-center">{{ payment.toUser.name }}</td>
                        <td class="text-center">{{ payment.amount|format_currency('EUR', locale=app.user.locale)}}</td>
                        <td class="text-center">{{ payment.type|trans }}</td>
                        <td class="text-center">{{ payment.comment }}</td>
                        <td class="text-center">
                            {% if user.email == payment.fromUser.email or user.email == payment.toUser.email %}
                                <a href='{{ path('app_payment_edit', {payment: payment.id}) }}'><i class="fas fa-edit"></i></a>
                                <a href='{{ path('app_payment_delete', {payment: payment.id}) }}'><i class="fas fa-trash text-danger"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {{ pagerfanta(pager) }}
            </tbody>
        </table>
    </div>
    <div class="clearfix">
        <button type="link" class="btn btn-outline-dark my-3 float-end" onclick="location.href='{{ path('app_payment_new') }}';">{{ 'payments.add.new'|trans }} <span class="fa fa-plus-circle"></span></button>
    </div>
</div>
{% endblock %}