<p>
    <b>{{ 'invitation.email.greeting'|trans({'%inviter%': inviter.name, '%inviter_email%': inviter.email, '%car%': car.name}) }}</b>
</p>

<p>
    {{ 'invitation.email.description'|trans }}
</p>

<p>
    {{ 'invitation.email.register'|trans }}<br><br>
    <a href="{{ url('app_register_invited', {hash: invitation.hash}) }}">{{ 'invitation.email.register_link'|trans }}</a>
</p>

<p>
    {{ 'invitation.email.cheers'|trans }}
</p>
