<p><b>{{ 'event_email.trip.added_with'|trans({'%car%': car.name}) }}</b></p>

<p>
{% set userNames %}{% for user in trip.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endset %}
{{ 'event_email.trip.added_by'|trans({'%user%': userNames, '%car%': car.name}) }}
</p>

<p>
    <table>
        <tr>
            <th>{{ 'date.start'|trans }}:</th>
            <td>{{ trip.startDate|format_datetime(locale=locale) }}</td>
        </tr>
        <tr>
            <th>{{ 'date.end'|trans }}:</th>
            <td>{{ trip.endDate|format_datetime(locale=locale) }}</td>
        </tr>
        <tr>
            <th>{{ 'trips.comment'|trans }}:</th>
            <td>{{ trip.comment }}</td>
        </tr>
    </table>
</p>

<p>
    {{ 'event_email.trip.see_in_logbook'|trans({'%link%': '<a href="">' ~ 'trips.logbook'|trans ~ '</a>', '%car%': car.name|e('html')})|raw }}
</p>

<p>
    {{ 'event_email.cheers'|trans }}
</p>
