{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 mt-5">
    <h4>{{ 'expenses.edit.for'|trans }} {{ car.name }}</h4>

    {{ form_start(expenseForm)}}
        {{ form_widget(expenseForm) }}

        <button type="submit" class="btn btn-outline-dark my-3">{{ 'expenses.edit.update'|trans }}</button>
        <a href="{{ path('app_expense_delete', {expense: expense.id}) }}" class="btn btn-outline-danger my-3">{{ 'expenses.delete'|trans }} <i class="fas fa-trash text-danger"></i></a>
    {{ form_end(expenseForm) }}
</div>
{% endblock %}