{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 mt-5">
    <h4>{{ 'expenses.edit.for'|trans }}</h4>

    {{ form_start(expenseForm)}}
        {{ form_widget(expenseForm) }}

        <button type="submit" class="btn btn-outline-dark my-3">{{ 'expenses.edit.update'|trans }}</button>
    {{ form_end(expenseForm) }}

    <form method="post" action="{{ path('app_expense_delete', {expense: expense.id}) }}" class="d-inline">
        <input type="hidden" name="_token" value="{{ csrf_token('expense_delete_' ~ expense.id) }}">
        <button type="submit" class="btn btn-outline-danger my-3">{{ 'expenses.delete'|trans }} <i class="fas fa-trash text-danger"></i></button>
    </form>
</div>
{% endblock %}
