{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-12 col-md-8">
    <h4>Expenses for {{ car.name }}</h4>
        <div class="table-responsive">
            <table class="table">
                 <thead class="table-secondary">
                    <tr>
                        <th class="text-center">User</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Comment</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in pager %}
                        <tr>
                            <td class="text-center">{{ expense.user.name }}</td>
                            <td class="text-center">{{ expense.date|date('d.m.Y') }}</td>
                            <td class="text-center">{{ expense.type }}</td>
                            <td class="text-center">{{ expense.name}}</td>
                            <td class="text-center">{{ expense.amount|format_currency('EUR', locale='de')}}</td>
                            <td class="text-center">{{ expense.comment }}</td>
                            <td class="text-center">
                                <a href='{{ path('app_expense_edit', {expense: expense.id}) }}'><i class="fas fa-edit"></i></a>
                                <a href='{{ path('app_expense_delete', {expense: expense.id}) }}'><i class="fas fa-trash text-danger"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    {{ pagerfanta(pager) }}
                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <button type="link" class="btn btn-outline-dark my-3 float-end" onclick="location.href='{{ path('app_expense_new') }}';">Add expense <span class="fa fa-plus-circle"></span></button>
        </div>
    </div>
</div>
{% endblock %}